:root {
    --primary-bg-color: #4E342E;
    --secondary-bg-color: blanchedalmond;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
}

button {
    cursor: pointer;
}

/* Header section */

header {
    background-color: var(--primary-bg-color);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 1px 5px 1px black;
}

/* Search bar */

header .search-bar {
    width: 40rem;
    height: 40px;
    display: flex;
}

header .search-bar #search {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    
}

header .search-bar button {
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: blanchedalmond;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 5px 1px black;
}

/* Navbar */

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 500;
}

/* Game Catalog */


.catalog {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.catalog .result-filter {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px gray;
    margin: 0 10px;
}

.catalog .game-catalog {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    grid-gap: 20px;
    justify-content: center;
}

.catalog .game-catalog .item {
    height: 440px;
    padding: 15px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.game-catalog .item img {
    width: 300px;
    height: 300px;
    background-color: white;
    align-self: center;
}

.game-catalog .item h3, .game-catalog .item p {
    /* flex-grow: 1; */
    margin: 10px 0;
}

.game-catalog .item button {
    padding: 10px 20px;
    align-self: flex-start;
}

/* pagination */

.pagination {
    align-self: center;
    padding: 10px;
}

.pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li a {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: var(--secondary-bg-color);
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Footer */

footer {
    width: 100%;
    height: 120px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 -1px 5px 1px black;
    /* visibility: hidden; */
}