* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:blanchedalmond;
}

.catalog {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

/* Header section */

header {
    background-color: sienna;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    box-shadow: 0 1px 5px 1px black;
}

/* Search bar */

header .search-bar {
    width: 40rem;
    height: 40px;
    display: flex;
}

header .search-bar #search {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    
}

header .search-bar button {
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: blanchedalmond;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 5px 1px black;
}

/* Navbar */

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: blanchedalmond;
    font-size: 20px;
    font-weight: 500;
}

footer {
    width: 100%;
    height: 120px;
    background-color: sienna;
    box-shadow: 0 -1px 5px 1px black;
    /* visibility: hidden; */
}